/unityCode/Data/*
/unityCode/etc/*
/unityCode/Library/*
/unityCode/Packages/*
/unityCode/ProjectSettings/*
/unityCode/JonathansRubbish/*
/unityCode/Assets/Mapbox/*
/unityCode/Assets/MetaSDK/*
/unityCode/Assets/Resources/*
/unityCode/Assets/Smooth!OrbitCam/*
